USE [master]
GO
/****** Object:  Database [quanlycauhoitracnghiem]    Script Date: 8/3/2021 9:21:41 PM ******/
CREATE DATABASE [quanlycauhoitracnghiem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Database', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Database.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Database_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Database_log.ldf' , SIZE = 3456KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [quanlycauhoitracnghiem].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO
USE [quanlycauhoitracnghiem]
GO
/****** Object:  Table [dbo].[Table_CauHoi]    Script Date: 8/3/2021 9:21:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_CauHoi](
	[MaCauHoi] [nchar](4) NOT NULL,
	[NoiDungCauHoi] [nvarchar](max) NOT NULL,
	[MaLoaiCauHoi] [int] NOT NULL,
	[MaNguoiDung] [nchar](4) NOT NULL,
	[MaMon] [nchar](4) NOT NULL,
	[GhiChu] [nchar](30) NULL,
 CONSTRAINT [PK_Table_CauHoi] PRIMARY KEY CLUSTERED 
(
	[MaCauHoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Table_DapAn]    Script Date: 8/3/2021 9:21:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_DapAn](
	[MaCauTraLoi] [nchar](4) NOT NULL,
	[NoiDungCauTraLoi] [nvarchar](max) NOT NULL,
	[MaCauHoi] [nchar](4) NOT NULL,
	[KieuDapAn] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Table_DapAn] PRIMARY KEY CLUSTERED 
(
	[MaCauTraLoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Table_KetQua]    Script Date: 8/3/2021 9:21:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_KetQua](
	[MaThiSinh] [nchar](10) NOT NULL,
	[Diem] [nchar](10) NOT NULL,
	[MaMon] [nchar](4) NOT NULL,
	[NgayThi] [nchar](12) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Table_LoaiCauHoi]    Script Date: 8/3/2021 9:21:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_LoaiCauHoi](
	[MaLoaiCauHoi] [int] NOT NULL,
	[LoaiCauHoi] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Table_LoaiCauHoi] PRIMARY KEY CLUSTERED 
(
	[MaLoaiCauHoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Table_MonThi]    Script Date: 8/3/2021 9:21:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_MonThi](
	[MaMon] [nchar](4) NOT NULL,
	[TenMon] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Table_MonThi] PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Table_NguoiDung]    Script Date: 8/3/2021 9:21:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_NguoiDung](
	[MaNguoiDung] [nchar](4) NOT NULL,
	[TenNguoiDung] [nvarchar](50) NOT NULL,
	[MatKhauNguoiDung] [nchar](20) NOT NULL,
	[LoaiNguoiDung] [nchar](1) NOT NULL,
	[MaNhanVien] [nchar](4) NOT NULL,
 CONSTRAINT [PK_Table_NguoiDung] PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Table_NhanVien]    Script Date: 8/3/2021 9:21:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Table_NhanVien](
	[MaNhanVien] [nchar](4) NOT NULL,
	[HoTen] [nchar](50) NOT NULL,
	[DiaChi] [nchar](50) NOT NULL,
	[SoDienThoai] [nchar](20) NOT NULL,
	[NgaySinh] [varchar](20) NOT NULL,
	[ChucVu] [nchar](20) NOT NULL,
 CONSTRAINT [PK_Table_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Table_ThiSinh]    Script Date: 8/3/2021 9:21:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_ThiSinh](
	[MaThiSinh] [nchar](10) NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](50) NOT NULL,
	[NgaySinh] [nchar](20) NOT NULL,
	[TenDangNhap] [nchar](20) NOT NULL,
	[MatKhau] [nchar](10) NOT NULL,
	[Truong] [nvarchar](50) NOT NULL,
	[Lop] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Table_ThiSinh] PRIMARY KEY CLUSTERED 
(
	[MaThiSinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Table_CauHoi] ([MaCauHoi], [NoiDungCauHoi], [MaLoaiCauHoi], [MaNguoiDung], [MaMon], [GhiChu]) VALUES (N'0001', N'Sơ đồ nào sau đây không phải là sơ đồ của UML ', 1, N'ND01', N'CSDL', N'du lieu                       ')
INSERT [dbo].[Table_CauHoi] ([MaCauHoi], [NoiDungCauHoi], [MaLoaiCauHoi], [MaNguoiDung], [MaMon], [GhiChu]) VALUES (N'0002', N'Thành phần nào sau đây không là đặc tính của một đồi tượng', 1, N'ND01', N'CSDL', NULL)
INSERT [dbo].[Table_CauHoi] ([MaCauHoi], [NoiDungCauHoi], [MaLoaiCauHoi], [MaNguoiDung], [MaMon], [GhiChu]) VALUES (N'0003', N'Sự đóng gói được hiểu là ', 1, N'ND01', N'CSDL', N'du lieu                       ')
INSERT [dbo].[Table_DapAn] ([MaCauTraLoi], [NoiDungCauTraLoi], [MaCauHoi], [KieuDapAn]) VALUES (N'A001', N'Component diagram ', N'0001', N'0         ')
INSERT [dbo].[Table_DapAn] ([MaCauTraLoi], [NoiDungCauTraLoi], [MaCauHoi], [KieuDapAn]) VALUES (N'A002', N'Identity', N'0002', N'0         ')
INSERT [dbo].[Table_DapAn] ([MaCauTraLoi], [NoiDungCauTraLoi], [MaCauHoi], [KieuDapAn]) VALUES (N'A003', N'Sự che dấu thông tin ', N'0003', N'1         ')
GO
INSERT [dbo].[Table_KetQua] ([MaThiSinh], [Diem], [MaMon], [NgayThi]) VALUES (N'0002      ', N'2,5       ', N'NNLT', N'25/6/2021   ')
INSERT [dbo].[Table_KetQua] ([MaThiSinh], [Diem], [MaMon], [NgayThi]) VALUES (N'4444      ', N'2,5       ', N'CSDL', N'25/6/2021   ')
INSERT [dbo].[Table_KetQua] ([MaThiSinh], [Diem], [MaMon], [NgayThi]) VALUES (N'4444      ', N'4         ', N'CSDL', N'25/6/2021   ')
INSERT [dbo].[Table_LoaiCauHoi] ([MaLoaiCauHoi], [LoaiCauHoi]) VALUES (1, N'Trắc nghiệm')
INSERT [dbo].[Table_LoaiCauHoi] ([MaLoaiCauHoi], [LoaiCauHoi]) VALUES (2, N'Tự luận')
INSERT [dbo].[Table_MonThi] ([MaMon], [TenMon]) VALUES (N'CSDL', N'Khoa học công nghệ')
INSERT [dbo].[Table_MonThi] ([MaMon], [TenMon]) VALUES (N'NNLT', N'Tin học')
INSERT [dbo].[Table_MonThi] ([MaMon], [TenMon]) VALUES (N'TOAN', N'Toán')
INSERT [dbo].[Table_NguoiDung] ([MaNguoiDung], [TenNguoiDung], [MatKhauNguoiDung], [LoaiNguoiDung], [MaNhanVien]) VALUES (N'ND01', N'admin', N'admin               ', N'1', N'QLC1')
INSERT [dbo].[Table_NguoiDung] ([MaNguoiDung], [TenNguoiDung], [MatKhauNguoiDung], [LoaiNguoiDung], [MaNhanVien]) VALUES (N'ND02', N'Truong Giang', N'111111              ', N'2', N'QL01')
INSERT [dbo].[Table_NguoiDung] ([MaNguoiDung], [TenNguoiDung], [MatKhauNguoiDung], [LoaiNguoiDung], [MaNhanVien]) VALUES (N'ND03', N'Hoang Beo', N'222222              ', N'3', N'NV01')
INSERT [dbo].[Table_NhanVien] ([MaNhanVien], [HoTen], [DiaChi], [SoDienThoai], [NgaySinh], [ChucVu]) VALUES (N'jkds', N'fdashfkjlahfkj                                    ', N'dsfhdskjahkj                                      ', N'0828568959          ', N'fhdskfahdskf', N'Quan Li             ')
INSERT [dbo].[Table_NhanVien] ([MaNhanVien], [HoTen], [DiaChi], [SoDienThoai], [NgaySinh], [ChucVu]) VALUES (N'NV01', N'Lê Thanh Hoàng                                    ', N'30 Cây Trâm Q.8                                   ', N'0828568959          ', N'20/04/1988', N'Nhan Vien           ')
INSERT [dbo].[Table_NhanVien] ([MaNhanVien], [HoTen], [DiaChi], [SoDienThoai], [NgaySinh], [ChucVu]) VALUES (N'NV02', N'Lê Công Vinh                                      ', N'30 Lê Đức Thọ Q.Gò Vấp                            ', N'0828568959          ', N'Dec 20 1980 12:00AM', N'Nhan Vien           ')
INSERT [dbo].[Table_ThiSinh] ([MaThiSinh], [HoTen], [DiaChi], [NgaySinh], [TenDangNhap], [MatKhau], [Truong], [Lop]) VALUES (N'0001      ', N'Nguyễn Văn Minh', N'Hà Nội', N'03-02-2008          ', N'Van Minh            ', N'1111      ', N'THCS Chu Văn An', N'Lớp 6A1')
INSERT [dbo].[Table_ThiSinh] ([MaThiSinh], [HoTen], [DiaChi], [NgaySinh], [TenDangNhap], [MatKhau], [Truong], [Lop]) VALUES (N'0002      ', N'Đặng Quang Thùy', N'Hà Nội', N'12-12-2008          ', N'Quang Thuy          ', N'4321      ', N'THCS Chu Văn An', N'Lớp 6A1')
INSERT [dbo].[Table_ThiSinh] ([MaThiSinh], [HoTen], [DiaChi], [NgaySinh], [TenDangNhap], [MatKhau], [Truong], [Lop]) VALUES (N'0003      ', N'Nguyễn Thi Là Đậu', N'Hà Nội', N'20-05-2006          ', N'Thi La Dau          ', N'thiladau  ', N'THCS Chu Văn An', N'Lớp 7A1')
ALTER TABLE [dbo].[Table_CauHoi]  WITH CHECK ADD  CONSTRAINT [FK_Table_CauHoi_Table_LoaiCauHoi] FOREIGN KEY([MaLoaiCauHoi])
REFERENCES [dbo].[Table_LoaiCauHoi] ([MaLoaiCauHoi])
GO
ALTER TABLE [dbo].[Table_CauHoi] CHECK CONSTRAINT [FK_Table_CauHoi_Table_LoaiCauHoi]
GO
ALTER TABLE [dbo].[Table_CauHoi]  WITH CHECK ADD  CONSTRAINT [FK_Table_CauHoi_Table_MonThi] FOREIGN KEY([MaMon])
REFERENCES [dbo].[Table_MonThi] ([MaMon])
GO
ALTER TABLE [dbo].[Table_CauHoi] CHECK CONSTRAINT [FK_Table_CauHoi_Table_MonThi]
GO
ALTER TABLE [dbo].[Table_CauHoi]  WITH CHECK ADD  CONSTRAINT [FK_Table_CauHoi_Table_NguoiDung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[Table_NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[Table_CauHoi] CHECK CONSTRAINT [FK_Table_CauHoi_Table_NguoiDung]
GO
ALTER TABLE [dbo].[Table_DapAn]  WITH CHECK ADD  CONSTRAINT [FK_Table_DapAn_Table_CauHoi] FOREIGN KEY([MaCauHoi])
REFERENCES [dbo].[Table_CauHoi] ([MaCauHoi])
GO
ALTER TABLE [dbo].[Table_DapAn] CHECK CONSTRAINT [FK_Table_DapAn_Table_CauHoi]
GO
ALTER TABLE [dbo].[Table_KetQua]  WITH CHECK ADD  CONSTRAINT [FK_Table_KetQua_Table_MonThi] FOREIGN KEY([MaMon])
REFERENCES [dbo].[Table_MonThi] ([MaMon])
GO
ALTER TABLE [dbo].[Table_KetQua] CHECK CONSTRAINT [FK_Table_KetQua_Table_MonThi]
GO
ALTER TABLE [dbo].[Table_KetQua]  WITH CHECK ADD  CONSTRAINT [FK_Table_KetQua_Table_ThiSinh] FOREIGN KEY([MaThiSinh])
REFERENCES [dbo].[Table_ThiSinh] ([MaThiSinh])
GO
ALTER TABLE [dbo].[Table_KetQua] CHECK CONSTRAINT [FK_Table_KetQua_Table_ThiSinh]
GO
ALTER TABLE [dbo].[Table_NguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_Table_NguoiDung_Table_NhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[Table_NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[Table_NguoiDung] CHECK CONSTRAINT [FK_Table_NguoiDung_Table_NhanVien]
GO
USE [master]
GO
